<launch>

	<arg name="quad" default="SQ01s"/>

	<node ns="$(arg quad)" name="predictor" pkg="faster" type="test_predictor_node" output="screen" clear_params="true" > 
		<rosparam file="$(find faster)/param/faster.yaml" command="load" ns="faster"/>

		<remap from="~state" to="state"/>
	</node>


</launch>
