<launch>
	<arg name="gui" default="false"/>
	<arg name="rviz" default="true"/>
	<arg name="environment" default="true"/>

<!-- Start Behaviour Selector-->
<node pkg="behavior_selector" type="behavior_selector_node.py" name="behavior_selector" output="screen" />


<!-- Don't run this, for instance, for ssh connections -->
<group if="$(arg rviz)">
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find mader)/rviz_cfgs/cvx_all.rviz"/>
</group>

<!-- Don't run this, for instance, for ssh connections -->
<group if="$(arg gui)">
	<node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find mader)/rqt_cfgs/demo_interface.perspective"/>
</group>

<group if="$(arg environment)">
<!-- 	<node name="dynamic_obstacles" pkg="mader" type="dynamic_obstacles.py" output="screen" args="150"/> -->
	<node name="dynamic_obstacles" pkg="mader" type="dynamic_forest.py" output="screen"/>
</group>s	

</launch>
