<launch>

	<arg name="quad" default="SQ01s"/>
  <arg name="gui" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="environment" default="true"/>

 <include file="$(find mader)/launch/mader_specific.launch">
      <arg name="quad" value="$(arg quad)"/>
  </include> 
 
  <include file="$(find mader)/launch/mader_general.launch">
      <arg name="gui" value="$(arg gui)"/>
      <arg name="rviz" value="$(arg rviz)"/>
      <arg name="environment" value="$(arg environment)"/>
  </include> 



</launch>

<!-- launch-prefix="xterm -e gdb -ex run args -->

