<launch>
    <arg name="quad" default="SQ01s"/>
    
    <!-- Arguments -->
    <!--<arg name="joy" default="false"/>-->
    <arg name="gazebo" default="true"/>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />
    <arg name="yaw" default="0.0" />
    

    <!-- Spawn vehicle in Gazebo -->
    <group if="$(arg gazebo)">

        <!-- Spawn vehicle in gazebo -->
        <include file="$(find acl_sim)/launch/spawn_quadrotor_with_asus.launch">
            <arg name="name" value="$(arg quad)"/>
            <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="z" value="$(arg z)"/>
            <arg name="yaw" default="$(arg yaw)"/>
        </include>

         <!-- Camera to body tf -->
        <node pkg="tf" type="static_transform_publisher" name="camera2body" args="0 0 0 -1.57 0 -1.57 $(arg quad) $(arg quad)/camera 100" />

    </group>

       
    <!-- Vicon to world tf -->
    <!-- The namespace is needed only for the multi-agent simulations. If not, each agent kills the node of the other one-->
    <node ns="$(arg quad)" pkg="tf" type="static_transform_publisher" name="vicon2world" args="0 0 0 0 0 0 /world /vicon 100" />

    <!-- Start Perfect Tracker -->
    <node ns="$(arg quad)" name="perfect_tracker" pkg="mader" type="perfect_controller.py" output="screen">
        <param name="x" value="$(arg x)"/>
        <param name="y" value="$(arg y)"/>
        <param name="z" value="$(arg z)"/>
        <param name="yaw" value="$(arg yaw)"/>
    </node>

</launch>
